<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card bg-light border-light">
                <img class="card-img-top img-fluid img-thumbnail" src="<%= campground.image %>">
                <div class="card-body">  
                    <h5 class="float-right">$9/night</h5>
                    <h5 class="card-title"><a href=""><%= campground.name %></a></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p>
                       <em>Submitted By : <%= campground.author.username %></em>
                    </p>
                </div>
            </div>
            <p></p>
            <div class="card bg-light border-light mx-auto">
                <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="float-left "><strong><%= comment.author.username %></strong></p>
                            <p class="text-right">10 days ago</p>
                            <p>
                                <%= comment.text%> 
                            </p>
                            <hr>
                        </div>
                    </div>
                    
                
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>